:root{
    --color-principal: #17a2b8;
    --color-principal-hover: #06788a;
    --color-secundario: white;
    --color-list:#ffffff;
    --font1:'Roboto Slab', serif;
    --font2: 'Open Sans', sans-serif;
}